# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [72]:
from datetime import datetime
from zoneinfo import ZoneInfo

now = datetime.now(ZoneInfo("America/New_York"))


current_time = now.strftime("%Y-%m-%d %H:%M:%S")
print("current time:", current_time)

current time: 2025-08-10 22:46:05

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [1]:
from math import pi

def get_area(radius):
    return pi * radius

area =get_area(10)

print("the circle area =", area)

the circle area = 31.41592653589793

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [2]:
def unique_nums(lst):
    st = set()
    for i in lst:
        if i in st:
            return False
        else:
            st.add(i)
    return True

input_list = [2, 4, 5, 5, 7, 9]
print(unique_nums(input_list))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, 'â€”': 1}`

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [5]:
with open("/workspaces/2025-python-summer-prep/Week-03/beginner/data/titanic.csv", "r") as f:
    text = f.read()

text.upper()

dictionary = {}
for i in text:
    dictionary[i] =  dictionary.get(i, 0) + 1

sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[1], reverse=True))
print(sorted_dict)

{',': 10703, '0': 3558, ' ': 3008, 'e': 2919, '.': 2694, 'a': 2562, '1': 2443, '3': 2087, '2': 2042, '"': 1994, 'r': 1967, 'l': 1960, '5': 1577, '7': 1371, 'i': 1334, 's': 1310, 'n': 1307, 'm': 1279, '4': 1145, 'M': 1128, '6': 1066, '8': 1009, 'o': 1008, 'S': 898, '\n': 892, '9': 853, 't': 669, 'C': 562, 'h': 518, 'd': 488, 'f': 474, 'A': 347, 'u': 342, 'c': 288, 'y': 251, 'g': 237, 'k': 221, 'J': 215, 'P': 208, 'H': 206, 'E': 206, 'B': 205, 'b': 170, 'W': 159, 'O': 145, '(': 144, ')': 144, 'L': 133, 'D': 133, 'v': 126, 'F': 123, 'T': 123, 'G': 121, 'R': 119, 'N': 110, 'w': 99, '/': 99, 'Q': 97, 'p': 93, 'K': 72, 'I': 45, 'V': 44, 'z': 44, 'j': 30, 'x': 26, '-': 13, 'Y': 13, "'": 9, 'Z': 7, 'q': 5, 'U': 5}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [15]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

multiplier = list1.pop(3)

list1.append(list1[-1] * multiplier)

print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [16]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

new_list = [x for x  in original_list if x % 3 == 0]
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [20]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

print(original_list := original_list[::-1])

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [22]:
original_list = [1, 2, 3, 4, 5, 6, 7]

new_list1 = [x ** 2 for x in original_list]
print(new_list1)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [34]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]


new_rev = list(reversed(list2)) 
for i in range(len(list1)):
    print(list1[i], new_rev[i])

'''for a, b in zip(list1, reversed(list2)):
    print(a, b)
'''

10 400
20 300
30 200
40 100

'for a, b in zip(list1, reversed(list2)):\n    print(a, b)\n'

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [4]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

new_string = [i for i in list_of_strings if i != ""]
print(new_string)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [14]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

print(999 in sample_dict.values())

True

# #12 Fix all the follow broken code snippets below
(I got these examples from a great website, I will reference them later because they have the answers on them.)

In [15]:
greeting = "Hello, possible pirate! What's the password?"
password = 'admin'
message = greeting+password
if message in "Arrr!":
	print("Go away, pirate.")
else:
	print("Greetings, hater of pirates!")

Greetings, hater of pirates!

In [19]:
pages = 457
word_per_page = 250
number_of_pieces = 100

each_chunk = (457 * 250)/10
print ("each_chunk")

each_chunk

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [21]:
import pandas as pd

df = pd.read_csv("/workspaces/2025-python-summer-prep/Week-03/beginner/data/titanic.csv")

df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [23]:
mean_age = df['age'].mean()
print("mean age:",mean_age)

mean age: 29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [24]:
oldest = df['age'].max()
youngest = df['age'].min()

print("oldest person:", oldest)
print("youngest person:", youngest)

oldest person: 80.0
youngest person: 0.42

## How many people embarked from station 'S'?

In [26]:
people = df['embarked'].value_counts()["S"]
print("embarked people from station S:", people)

embarked people from station S: 644